* {
  margin: 0;
  padding: 0;
  background-color: #9c835f;
}

body {
  min-height: 100vh;
}

/* Navbar */
.back {
  color: #724c21;
  font-size: 64px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  width: 55px;
  height: 87px;
  left: 0px;
  top: 10px;
}

.main-logo {
  height: 50px;
  width: auto;
}

.judul {
  color: #f9b23d;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  width: 410px;
  height: 62px;
  left: 28px;
  top: 200px;
}

/* Main Page */
.text-page {
  text-align: center;
  font-weight: bold;
  margin: 20px auto;
}

.teks-versus {
  color: #bb0c0cd8;
  font-size: 80px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  height: auto;
}

.hasil {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  height: 100px;
  width: 140px;
  margin: auto;
}

/* div.bgcolor {
  background: #8c908d;
} */

.b {
  height: 80px;
  width: auto;
}

.k,
.g {
  height: 100px;
  width: auto;
}

.r {
  height: 50px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  align-items: center;
  align-self: center;
}

.choice {
  display: block;
  margin-top: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}
